.Comment {
    border: 2px solid aqua;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}
h2{
   text-align: center;
}
button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}